<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <sectionGroup name="octopus">
      <section name="assembliesLocation" type="System.Configuration.NameValueSectionHandler" />
      <section name="assembliesDependencies" type="System.Configuration.NameValueSectionHandler" />
      <section name="injectionMap" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>

    <sectionGroup name="memento">
      <section name="persistenceEntities" type="System.Configuration.NameValueSectionHandler" />
      <section name="providerConfig" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    
  </configSections>
  
  <connectionStrings>
    <add name="MEMENTO"
         connectionString="Provider=SQLOLEDB;Data Source=SVQ-CJHS5S1;Initial Catalog=memento;Integrated Security=SSPI" />
  </connectionStrings>

  <octopus>
    <assembliesLocation>
      <add key="Memento" value="C:\Codellion\Libs\Memento Persistence Framework\Debug" />
    </assembliesLocation>
    <assembliesDependencies>
      <add key="Memento.Persistence.Commons.dll" value="Mememto" />
      <add key="Memento.DataAccess.dll" value="Mememto" />
      <add key="Memento.DataAccess.OleDb.dll" value="Mememto" />
      <add key="Memento.Persistence.dll" value="Mememto" />
      <add key="Memento.Test.Entities.dll" value ="Memento" />
    </assembliesDependencies>
    <injectionMap>
      <add key="Memento" value="Memento.Persistence.Persistence`1, Memento.Persistence.dll" />
    </injectionMap>
  </octopus>
  
  <memento>
    <persistenceEntities>
      <add key="Memento.Test.Entities.Factura" value="Factura" />
      <add key="Memento.Test.Entities.Linea" value="Linea" />
      <add key="Memento.Test.Entities.Producto" value="Producto" />
      <add key="Memento.Test.Entities.DetalleLinea" value="DetalleLinea" />
      <add key="Memento.Test.Entities.ProductoProveedor" value="ProductoProveedor" />
    </persistenceEntities>
    <providerConfig>
      <add key="persistenceProvider" value="Memento.DataAccess.OleDb.BdPersistence`1" />
      <add key="assemblyPersistenceProvider" value="Memento.DataAccess.OleDb.dll" />
      <add key="databaseKeyCommand" value="SELECT @@IDENTITY AS ID; " />
    </providerConfig>
  </memento>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OctoBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Octopus.Spock.Interfaces.ServiceOctopusImpl" behaviorConfiguration="OctopusServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ServiceOctopus" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="OctoBinding"
        name="SvcNetNamedPipeEndPoint" contract="Verso.Net.Commons.IServiceBlock" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OctopusServiceBehavior">
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, 
          establezca el valor siguiente en true. Para no revelar información sobre las excepciones 
          establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>